[mysqld]
user=root
secure-file-priv=NULL
skip-networking
skip-external-locking

#
# * Fine Tuning
#
key_buffer_size         = 16M
max_allowed_packet      = 128M
thread_stack            = 192K
thread_cache_size       = 8
myisam-recover-options  = BACKUP

#
# * Query Cache Configuration
#
query_cache_limit       = 1M
query_cache_size        = 16M

[mysqld_safe]
log_error        = error.log
expire_logs_days = 10
max_binlog_size  = 100M
